{"openapi":"3.0.3","info":{"title":"标题：董奉堂管理系统_接口文档","description":"描述：用于管理集团旗下公司的人员信息,具体包括XXX,XXX模块...","contact":{"name":"董奉堂"},"version":"版本号:3.9.0"},"servers":[{"url":"https://open.yhcheng.pub:443","description":"Inferred Url"}],"tags":[{"name":"[管理后台-医疗套餐管理]","description":"医疗套餐管理接口: 处理套餐相关业务逻辑"},{"name":"[管理后台-员工/用户管理]","description":"管理接口: 处理员工/用户相关业务逻辑"},{"name":"[管理后台-订单管理]","description":"处理订单相关业务逻辑"},{"name":"[管理后台-问诊记录管理]","description":"处理问诊记录相关业务逻辑"},{"name":"agora-controller","description":"声网服务接口: 处理声网相关业务逻辑"},{"name":"app-order-controller","description":"用户订单管理接口: 处理用户订单相关业务逻辑"},{"name":"app-qtn-controller","description":"处理问卷调查相关业务逻辑"},{"name":"app-user-controller","description":"用户管理接口: 处理用户信息相关业务逻辑"},{"name":"file-controller","description":"处理文件相关业务逻辑"},{"name":"sys-login-controller","description":"用户登陆接口: 处理用户帐号密码登陆/验证码登陆"},{"name":"sys-register-controller","description":"用户注册接口: 处理用户注册业务"},{"name":"sys-sms-controller","description":"短信接口: 处理短信发送业务"}],"paths":{"/dft/app/agora/token":{"get":{"tags":["agora-controller"],"summary":"获取声网Token","operationId":"detailUsingGET","parameters":[{"name":"userId","in":"query","description":"用户ID","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«TokenVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/order/detail":{"get":{"tags":["app-order-controller"],"summary":"订单详情","operationId":"detailUsingGET_1","parameters":[{"name":"advisorId","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"content","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"contents[0].content","in":"query","description":"服务内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"contents[0].name","in":"query","description":"服务名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"contents[0].title","in":"query","description":"标题","required":false,"style":"form","schema":{"type":"string"}},{"name":"createBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"createTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"delFlag","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"disease","in":"query","description":"病种","required":false,"style":"form","schema":{"type":"string"}},{"name":"doctorId","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"orderId","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"orderNum","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"originalPrice","in":"query","description":"原价","required":false,"style":"form","schema":{"type":"number","format":"bigdecimal"}},{"name":"packageName","in":"query","description":"套餐名","required":true,"style":"form","schema":{"type":"string"}},{"name":"price","in":"query","description":"价格","required":true,"style":"form","schema":{"type":"number","format":"bigdecimal"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"updateBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"updateTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"userAnswerId","in":"query","description":"用户问卷ID","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userName","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«Order»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/qtn/detail":{"get":{"tags":["app-qtn-controller"],"summary":"获取问卷详情","operationId":"detailUsingGET_2","parameters":[{"name":"batchNo","in":"query","description":"问卷记录批次号","required":true,"style":"form","schema":{"type":"string"}},{"name":"step","in":"query","description":"问卷记录步骤(选填，如有值则只查当前步骤详情)","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«QtnMainVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/qtn/list":{"get":{"tags":["app-qtn-controller"],"summary":"问卷列表","operationId":"recordUsingGET","parameters":[{"name":"pageNum","description":"页码","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","description":"每页数量","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInfo«QtnUserAnswer»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/qtn/step/{step}":{"get":{"tags":["app-qtn-controller"],"summary":"获取问卷","operationId":"stepUsingGET","parameters":[{"name":"step","in":"path","description":"步骤","required":true,"style":"simple","allowReserved":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«QtnMainVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/qtn/submit":{"post":{"tags":["app-qtn-controller"],"summary":"提交问卷","operationId":"submitUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QtnAnswerVO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«QtnMainVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/qtn/submitAll":{"post":{"tags":["app-qtn-controller"],"summary":"整体提交问卷","operationId":"submitAllUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAnswerMainDTO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«QtnMainVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/qtn/total":{"get":{"tags":["app-qtn-controller"],"summary":"获取全部问卷","operationId":"totalUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«QtnMainVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/user/detail":{"get":{"tags":["app-user-controller"],"summary":"用户详情","operationId":"detailUsingGET_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«UserVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/user/detail/{userId}":{"get":{"tags":["app-user-controller"],"summary":"用户详情","operationId":"detailUsingGET_4","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«UserVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/user/password/checkSmsCode":{"post":{"tags":["app-user-controller"],"summary":"重置密码-校验短信验证码","operationId":"checkSmsCodeUsingPOST","parameters":[{"name":"code","description":"短信验证码","required":false,"schema":{"type":"string"}},{"name":"username","description":"帐号(手机号)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckSmsCodeVO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«TempTokenVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/user/password/reset":{"post":{"tags":["app-user-controller"],"summary":"重置密码","operationId":"resetPwdUsingPOST","parameters":[{"name":"password","description":"新密码","required":false,"schema":{"type":"string"}},{"name":"tempToken","description":"重置密码临时Token)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPwdVO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«string»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/consultation/detail/{id}":{"get":{"tags":["[管理后台-问诊记录管理]"],"summary":"问诊详情","operationId":"detailUsingGET_5","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«ConsultationVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/consultation/detailByGroupId/{groupId}":{"get":{"tags":["[管理后台-问诊记录管理]"],"summary":"问诊详情","operationId":"detailByGroupIdUsingGET","parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«ConsultationVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/consultation/detailByUserId/{userId}":{"get":{"tags":["[管理后台-问诊记录管理]"],"summary":"问诊详情","operationId":"detailByUserIdUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«ConsultationVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/consultation/edit":{"post":{"tags":["[管理后台-问诊记录管理]"],"summary":"编辑问诊-添加备注及诊疗建议","operationId":"editUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultationOptionDTO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«boolean»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/consultation/list":{"get":{"tags":["[管理后台-问诊记录管理]"],"summary":"列表","operationId":"recordUsingGET_1","parameters":[{"name":"doctorId","in":"query","description":"医生ID","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"pageNum","in":"query","description":"页码","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"每页数量","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"startTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"status","in":"query","description":"状态(0:待问诊 1已完成 9已取消)","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}},{"name":"userName","in":"query","description":"用户名","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«PageResult«ConsultationVO»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/app/file/upload":{"post":{"tags":["file-controller"],"summary":"上传文件","operationId":"uploadFileUsingPOST","parameters":[{"name":"dir","in":"query","description":"上传目录(如:icon、report等)","required":true,"style":"form","allowReserved":false,"schema":{"type":"string","format":"binary"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«FileUploadVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/healthTemplate/create":{"post":{"tags":["[管理后台-医疗套餐管理]"],"summary":"创建医疗套餐","operationId":"createUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthTemplate"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«boolean»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/healthTemplate/delete/{id}":{"delete":{"tags":["[管理后台-医疗套餐管理]"],"summary":"删除","operationId":"deleteUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«boolean»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/healthTemplate/detail/{id}":{"get":{"tags":["[管理后台-医疗套餐管理]"],"summary":"详情","operationId":"detailUsingGET_6","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«HealthTemplate»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/healthTemplate/edit":{"post":{"tags":["[管理后台-医疗套餐管理]"],"summary":"编辑","operationId":"editUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthTemplate"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«boolean»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/healthTemplate/list":{"get":{"tags":["[管理后台-医疗套餐管理]"],"summary":"列表","operationId":"listUsingGET","parameters":[{"name":"content","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"contents[0].content","in":"query","description":"服务内容","required":false,"style":"form","schema":{"type":"string"}},{"name":"contents[0].name","in":"query","description":"服务名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"contents[0].title","in":"query","description":"标题","required":false,"style":"form","schema":{"type":"string"}},{"name":"createBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"createTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"delFlag","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"disease","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"name","in":"query","description":"名称","required":false,"style":"form","allowReserved":false,"schema":{"type":"string"}},{"name":"originalPrice","in":"query","required":false,"style":"form","schema":{"type":"number","format":"bigdecimal"}},{"name":"packageId","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"pageNum","description":"页码","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","description":"每页数量","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"price","in":"query","required":false,"style":"form","schema":{"type":"number","format":"bigdecimal"}},{"name":"status","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"updateBy","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"updateTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«PageResult«HealthTemplate»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/order/create":{"post":{"tags":["[管理后台-订单管理]"],"summary":"创建订单","operationId":"createUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«Order»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/login":{"post":{"tags":["sys-login-controller"],"summary":"帐号密码登录","description":"返回:{\"msg\":\"操作成功\",\"code\":200,\"token\":\"*****\"}","operationId":"loginUsingPOST","parameters":[{"name":"password","description":"密码","required":true,"schema":{"type":"string"}},{"name":"username","description":"帐号(手机号)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«TokenVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/smsLogin":{"post":{"tags":["sys-login-controller"],"summary":"验证码登录","description":"返回:{\"msg\":\"操作成功\",\"code\":200,\"token\":\"*****\"}","operationId":"smsLoginUsingPOST","parameters":[{"name":"code","description":"验证码","required":false,"schema":{"type":"string"}},{"name":"username","description":"手机号","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«TokenVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/register":{"post":{"tags":["sys-register-controller"],"summary":"用户注册","operationId":"registerUsingPOST","parameters":[{"name":"address","description":"地址(选填)","required":false,"schema":{"type":"string"}},{"name":"age","description":"年龄","required":true,"schema":{"type":"string"}},{"name":"areaCode","description":"区域代码(86大陆 852香港)","required":true,"schema":{"type":"string"}},{"name":"code","description":"短信验证码","required":true,"schema":{"type":"string"}},{"name":"height","description":"身高","required":true,"schema":{"type":"string"}},{"name":"name","description":"姓名","required":true,"schema":{"type":"string"}},{"name":"password","description":"密码","required":true,"schema":{"type":"string"}},{"name":"sex","description":"性别(1男，2女)","required":true,"schema":{"type":"string"}},{"name":"type","description":"用户类型（3：医生，4：顾问，5：用户）","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"username","description":"手机号","required":true,"schema":{"type":"string"}},{"name":"weight","description":"体重","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«TokenVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/sendSmsCode":{"post":{"tags":["sys-sms-controller"],"summary":"发送短信验证码","operationId":"smsCodeUsingPOST","parameters":[{"name":"areaCode","description":"区域代码(86大陆 852香港)","required":true,"schema":{"type":"string"}},{"name":"phone","description":"手机号","required":true,"schema":{"type":"string"}},{"name":"type","description":"类型(1注册,2登陆,3重置密码,4通知)","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/appUser/detail/{id}":{"get":{"tags":["[管理后台-员工/用户管理]"],"summary":"用户详情","operationId":"appUserDetailUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«UserVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/appUser/edit":{"post":{"tags":["[管理后台-员工/用户管理]"],"summary":"编辑用户","operationId":"appUserEditUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserVO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«SysUserVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/appUser/list":{"get":{"tags":["[管理后台-员工/用户管理]"],"summary":"用户列表","operationId":"appUserListUsingGET","parameters":[{"name":"nickName","in":"query","description":"姓名","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"每页记录数","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"role","in":"query","description":"类型（2:职员 3：医生，4：顾问，5：用户）","required":false,"style":"form","schema":{"type":"string"}},{"name":"username","in":"query","description":"帐号/手机号","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«PageResult«UserVO»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/appUser/qtn/detail":{"get":{"tags":["[管理后台-员工/用户管理]"],"summary":"用户问卷详情","operationId":"appUserQtnDetailUsingGET","parameters":[{"name":"batchNo","in":"query","description":"问卷记录批次号","required":true,"style":"form","schema":{"type":"string"}},{"name":"step","in":"query","description":"问卷记录步骤(选填，如有值则只查当前步骤详情)","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«QtnMainVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/appUser/qtn/list":{"get":{"tags":["[管理后台-员工/用户管理]"],"summary":"用户问卷列表","operationId":"appUserQtnListUsingGET","parameters":[{"name":"userId","in":"query","description":"userId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«PageResult«QtnUserAnswer»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/create":{"post":{"tags":["[管理后台-员工/用户管理]"],"summary":"创建员工","operationId":"createUsingPOST_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SysUserDTO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«SysUserVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/detail/{id}":{"get":{"tags":["[管理后台-员工/用户管理]"],"summary":"员工详情","operationId":"detailUsingGET_7","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«SysUserVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/edit":{"post":{"tags":["[管理后台-员工/用户管理]"],"summary":"编辑员工","operationId":"editUsingPOST_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SysUserDTO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«SysUserVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/list":{"get":{"tags":["[管理后台-员工/用户管理]"],"summary":"员工列表","operationId":"listUsingGET_1","parameters":[{"name":"nickName","in":"query","description":"姓名","required":false,"style":"form","schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"页码","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"每页数量","required":true,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"role","in":"query","description":"角色 0或不传:全部, 1管理员 2职员 3医生 4顾问","required":false,"style":"form","allowReserved":false,"schema":{"type":"integer","format":"int32"}},{"name":"username","in":"query","description":"帐号/手机号","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«PageResult«SysUserVO»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}},"/dft/backend/user/updateRole":{"post":{"tags":["[管理后台-员工/用户管理]"],"summary":"员工修改角色","operationId":"updateRoleUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SysUserDTO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/R«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}]}}},"components":{"schemas":{"CheckSmsCodeVO":{"title":"CheckSmsCodeVO","type":"object","properties":{"code":{"type":"string"},"username":{"type":"string"}}},"ConsultationOptionDTO":{"title":"ConsultationOptionDTO","type":"object","properties":{"adviceMsg":{"type":"string","description":"治疗建议"},"advisorMsg":{"type":"string","description":"健康顾问备注"},"consultationId":{"type":"integer","description":"问诊ID","format":"int64"},"doctorMsg":{"type":"string","description":"医生诊断"},"status":{"type":"string","description":"状态(0待问诊 1已完成 9已取消)"}},"description":"问诊操作DTO"},"ConsultationVO":{"title":"ConsultationVO","type":"object","properties":{"consultation":{"description":"问诊信息","$ref":"#/components/schemas/ConsultationVO"},"qtnMainVO":{"description":"问卷详情","$ref":"#/components/schemas/QtnMainVO"}},"description":"问诊记录VO"},"FileUploadVO":{"title":"FileUploadVO","type":"object","properties":{"link":{"type":"string","description":"链接地址"}}},"HealthContent":{"title":"HealthContent","type":"object","properties":{"content":{"type":"string","description":"服务内容"},"name":{"type":"string","description":"服务名称"},"title":{"type":"string","description":"标题"}},"description":"问卷回签详情"},"HealthTemplate":{"title":"HealthTemplate","required":["contents"],"type":"object","properties":{"content":{"type":"string"},"contents":{"type":"array","items":{"$ref":"#/components/schemas/HealthContent"}},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"string"},"disease":{"type":"string"},"name":{"type":"string"},"originalPrice":{"type":"number","format":"bigdecimal"},"packageId":{"type":"integer","format":"int64"},"price":{"type":"number","format":"bigdecimal"},"status":{"type":"string"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"}}},"LoginBody":{"title":"LoginBody","required":["password","username"],"type":"object","properties":{"code":{"type":"string"},"password":{"type":"string"},"type":{"type":"integer","description":"类型(1帐号密码，2手机验证码)","format":"int32"},"username":{"type":"string"}}},"Order":{"title":"Order","required":["contents","packageName","price","userAnswerId"],"type":"object","properties":{"advisorId":{"type":"integer","format":"int64"},"contents":{"type":"array","description":"服务内容","items":{"$ref":"#/components/schemas/HealthContent"}},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"integer","format":"int32"},"disease":{"type":"string","description":"病种"},"doctorId":{"type":"integer","format":"int64"},"orderId":{"type":"integer","format":"int64"},"orderNum":{"type":"string"},"originalPrice":{"type":"number","description":"原价","format":"bigdecimal"},"packageName":{"type":"string","description":"套餐名"},"price":{"type":"number","description":"价格","format":"bigdecimal"},"status":{"type":"integer","format":"int32"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"},"userAnswerId":{"type":"integer","description":"用户问卷ID","format":"int64"},"userId":{"type":"integer","format":"int64"},"userName":{"type":"string"}}},"PageInfo«QtnUserAnswer»":{"title":"PageInfo«QtnUserAnswer»","type":"object","properties":{"endRow":{"type":"integer","format":"int64"},"hasNextPage":{"type":"boolean"},"hasPreviousPage":{"type":"boolean"},"isFirstPage":{"type":"boolean"},"isLastPage":{"type":"boolean"},"list":{"type":"array","items":{"$ref":"#/components/schemas/QtnUserAnswer"}},"navigateFirstPage":{"type":"integer","format":"int32"},"navigateLastPage":{"type":"integer","format":"int32"},"navigatePages":{"type":"integer","format":"int32"},"navigatepageNums":{"type":"array","items":{"type":"integer","format":"int32"}},"nextPage":{"type":"integer","format":"int32"},"pageNum":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"pages":{"type":"integer","format":"int32"},"prePage":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"startRow":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}}},"PageResult«ConsultationVO»":{"title":"PageResult«ConsultationVO»","type":"object","properties":{"pageNum":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"pages":{"type":"integer","format":"int32"},"record":{"type":"array","items":{"$ref":"#/components/schemas/ConsultationVO"}},"total":{"type":"integer","format":"int64"}}},"PageResult«HealthTemplate»":{"title":"PageResult«HealthTemplate»","type":"object","properties":{"pageNum":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"pages":{"type":"integer","format":"int32"},"record":{"type":"array","items":{"$ref":"#/components/schemas/HealthTemplate"}},"total":{"type":"integer","format":"int64"}}},"PageResult«QtnUserAnswer»":{"title":"PageResult«QtnUserAnswer»","type":"object","properties":{"pageNum":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"pages":{"type":"integer","format":"int32"},"record":{"type":"array","items":{"$ref":"#/components/schemas/QtnUserAnswer"}},"total":{"type":"integer","format":"int64"}}},"PageResult«SysUserVO»":{"title":"PageResult«SysUserVO»","type":"object","properties":{"pageNum":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"pages":{"type":"integer","format":"int32"},"record":{"type":"array","items":{"$ref":"#/components/schemas/SysUserVO"}},"total":{"type":"integer","format":"int64"}}},"PageResult«UserVO»":{"title":"PageResult«UserVO»","type":"object","properties":{"pageNum":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"pages":{"type":"integer","format":"int32"},"record":{"type":"array","items":{"$ref":"#/components/schemas/UserVO"}},"total":{"type":"integer","format":"int64"}}},"QtnAnswerVO":{"title":"QtnAnswerVO","type":"object","properties":{"answer":{"type":"string","description":"回答内容"},"bg":{"type":"string","description":"背景"},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"integer","format":"int32"},"demo":{"type":"string","description":"示例"},"jsonConfig":{"type":"object","additionalProperties":{"type":"object"},"description":"json格式配置项"},"mainId":{"type":"integer","format":"int64"},"other":{"type":"string","description":"其他"},"profileField":{"type":"string","description":"基本信息字段"},"questionId":{"type":"integer","description":"问题ID","format":"int64"},"required":{"type":"integer","description":"是否必填(1必填，0非必填)","format":"int32"},"sort":{"type":"integer","description":"排序","format":"int32"},"status":{"type":"integer","description":"状态（1正常 0停用）","format":"int32"},"tips1":{"type":"string","description":"提示语1"},"tips2":{"type":"string","description":"提示语2"},"title":{"type":"string","description":"标题"},"type":{"type":"integer","description":"类型：1是否  2文本 3范围 4单选 5多选 6多选+程度 7病症(一组文本域+图片) 8图片","format":"int32"},"unit":{"type":"string","description":"单位"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"}},"description":"问卷回签详情"},"QtnMainVO":{"title":"QtnMainVO","type":"object","properties":{"batchNo":{"type":"string","description":"批号(问卷提交时需要，在获取step=1的问卷时返回)"},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean","description":"是否还有下一步， true有，false无","example":false},"id":{"type":"integer","format":"int64"},"nextStep":{"type":"integer","description":"下一步编号","format":"int32"},"questions":{"type":"array","description":"问卷列表","items":{"$ref":"#/components/schemas/QtnQuestionVO"}},"status":{"type":"integer","format":"int32"},"step":{"type":"integer","format":"int32"},"symptomLevel":{"type":"object","additionalProperties":{"type":"string"},"description":"1,感觉正常 2,偶尔感觉不舒服 3,感觉严重 4,感觉很严重 5,感觉非常严重"},"tips1":{"type":"string"},"tips2":{"type":"string"},"title":{"type":"string"},"type":{"type":"integer","description":"问卷类型 1普通 2回显","format":"int32"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"}},"description":"问卷主体"},"QtnOption":{"title":"QtnOption","type":"object","properties":{"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"integer","format":"int32"},"option":{"type":"string"},"optionId":{"type":"integer","format":"int64"},"questionId":{"type":"integer","format":"int64"},"sort":{"type":"integer","format":"int32"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"}},"description":"问卷选项"},"QtnQuestionVO":{"title":"QtnQuestionVO","type":"object","properties":{"bg":{"type":"string","description":"背景"},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"integer","format":"int32"},"demo":{"type":"string","description":"示例"},"jsonConfig":{"type":"object","additionalProperties":{"type":"object"},"description":"json格式配置项"},"mainId":{"type":"integer","format":"int64"},"options":{"type":"array","description":"选项列表(单/多选时用)","items":{"$ref":"#/components/schemas/QtnOption"}},"other":{"type":"string","description":"选项为其他时的答案内容"},"profileField":{"type":"string","description":"基本信息字段"},"questionId":{"type":"integer","format":"int64"},"required":{"type":"integer","description":"是否必填(1必填，0非必填)","format":"int32"},"sort":{"type":"integer","description":"排序","format":"int32"},"status":{"type":"integer","description":"状态（1正常 0停用）","format":"int32"},"tips1":{"type":"string","description":"提示语1"},"tips2":{"type":"string","description":"提示语2"},"title":{"type":"string","description":"标题"},"type":{"type":"integer","description":"类型：1是否  2文本 3范围 4单选 5多选 6多选+程度 7病症(一组文本域+图片) 8图片","format":"int32"},"unit":{"type":"string","description":"单位"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"},"userAnswer":{"type":"string","description":"用户答案"}},"description":"问卷内容详情"},"QtnUserAnswer":{"title":"QtnUserAnswer","type":"object","properties":{"answerId":{"type":"integer","format":"int64"},"batchNo":{"type":"string"},"createDate":{"type":"string","description":"创建日期"},"createTime":{"type":"string","description":"创建时间","format":"date-time"},"isCheck":{"type":"integer","description":"医生是否查看 0未查看 1已查看","format":"int32"},"isSelf":{"type":"string","description":"是否本人"},"name":{"type":"string","description":"患者姓名"},"symptom":{"type":"string","description":"主要症状"},"updateDate":{"type":"string","description":"编辑日期"},"updateTime":{"type":"string","description":"编辑时间","format":"date-time"},"userId":{"type":"integer","format":"int64"}}},"R":{"title":"R","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"RegisterBody":{"title":"RegisterBody","required":["areaCode","code","password","username"],"type":"object","properties":{"address":{"type":"string","description":"地址（选填）"},"age":{"type":"integer","description":"年龄","format":"int32"},"areaCode":{"type":"string","description":"区域代码(86大陆 852香港)"},"bg":{"type":"string","description":"血糖，单位：mmol/L"},"code":{"type":"string","description":"验证码"},"dia":{"type":"string","description":"血压低压（舒张压，单位：mmHg）"},"height":{"type":"string","description":"身高（厘米）"},"hr":{"type":"string","description":"心率，单位：次/分钟（bpm）"},"name":{"type":"string","description":"姓名"},"password":{"type":"string","description":"密码"},"sex":{"type":"string","description":"性别（1男，2女）"},"sys":{"type":"string","description":"血压高压（收缩压，单位：mmHg）"},"traceId":{"type":"string"},"type":{"type":"integer","description":"注册类型（3：医生，4：顾问，5：用户）","format":"int32"},"username":{"type":"string","description":"帐号/手机号"},"weight":{"type":"string","description":"体重（千克）"}}},"ResetPwdVO":{"title":"ResetPwdVO","type":"object","properties":{"password":{"type":"string","description":"新密码"},"tempToken":{"type":"string","description":"临时token"}}},"R«ConsultationVO»":{"title":"R«ConsultationVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ConsultationVO"},"msg":{"type":"string"}}},"R«FileUploadVO»":{"title":"R«FileUploadVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/FileUploadVO"},"msg":{"type":"string"}}},"R«HealthTemplate»":{"title":"R«HealthTemplate»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/HealthTemplate"},"msg":{"type":"string"}}},"R«Order»":{"title":"R«Order»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/Order"},"msg":{"type":"string"}}},"R«PageResult«ConsultationVO»»":{"title":"R«PageResult«ConsultationVO»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageResult«ConsultationVO»"},"msg":{"type":"string"}}},"R«PageResult«HealthTemplate»»":{"title":"R«PageResult«HealthTemplate»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageResult«HealthTemplate»"},"msg":{"type":"string"}}},"R«PageResult«QtnUserAnswer»»":{"title":"R«PageResult«QtnUserAnswer»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageResult«QtnUserAnswer»"},"msg":{"type":"string"}}},"R«PageResult«SysUserVO»»":{"title":"R«PageResult«SysUserVO»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageResult«SysUserVO»"},"msg":{"type":"string"}}},"R«PageResult«UserVO»»":{"title":"R«PageResult«UserVO»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PageResult«UserVO»"},"msg":{"type":"string"}}},"R«QtnMainVO»":{"title":"R«QtnMainVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/QtnMainVO"},"msg":{"type":"string"}}},"R«SysUserVO»":{"title":"R«SysUserVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/SysUserVO"},"msg":{"type":"string"}}},"R«TempTokenVO»":{"title":"R«TempTokenVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TempTokenVO"},"msg":{"type":"string"}}},"R«TokenVO»":{"title":"R«TokenVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TokenVO"},"msg":{"type":"string"}}},"R«UserVO»":{"title":"R«UserVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/UserVO"},"msg":{"type":"string"}}},"R«boolean»":{"title":"R«boolean»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"boolean"},"msg":{"type":"string"}}},"R«int»":{"title":"R«int»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"integer","format":"int32"},"msg":{"type":"string"}}},"R«string»":{"title":"R«string»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"string"},"msg":{"type":"string"}}},"SmsBody":{"title":"SmsBody","type":"object","properties":{"areaCode":{"type":"string","description":"区域代码(86大陆 852香港)"},"phone":{"type":"string","description":"手机号"},"type":{"type":"integer","description":"类型（1：注册，2：通知）","format":"int32"}},"description":"短信验证码"},"SysUserDTO":{"title":"SysUserDTO","required":["areaCode","password","username"],"type":"object","properties":{"areaCode":{"type":"string","description":"区域代码(86大陆 852香港)"},"email":{"type":"string","description":"邮箱"},"introduction":{"type":"string","description":"简介"},"licenseNo":{"type":"string","description":"证书"},"nickName":{"type":"string","description":"姓名"},"password":{"type":"string","description":"密码"},"post":{"type":"string","description":"职位"},"role":{"type":"integer","description":"类型（2:职员 3：医生，4：顾问）","format":"int32"},"sex":{"type":"string","description":"性别（1男，2女）"},"userId":{"type":"integer","description":"用户ID，编辑时必填","format":"int64"},"username":{"type":"string","description":"帐号/手机号"}}},"SysUserVO":{"title":"SysUserVO","required":["areaCode","username"],"type":"object","properties":{"areaCode":{"type":"string","description":"区域代码(86大陆 852香港)"},"avatar":{"type":"string"},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"string"},"deptId":{"type":"integer","format":"int64"},"email":{"type":"string","description":"邮箱"},"hxGroupId":{"type":"string"},"hxGroupName":{"type":"string"},"hxUuid":{"type":"string"},"introduction":{"type":"string","description":"简介"},"licenseNo":{"type":"string","description":"证书"},"loginDate":{"type":"string","format":"date-time"},"loginIp":{"type":"string"},"nickName":{"type":"string","description":"姓名"},"num":{"type":"string","description":"编号"},"onlineState":{"type":"integer","description":"在线状态 1:在线 0:不在线","format":"int32"},"phonenumber":{"type":"string"},"post":{"type":"string","description":"职位"},"pwdUpdateDate":{"type":"string","format":"date-time"},"qtnStatus":{"type":"integer","format":"int32"},"remark":{"type":"string"},"role":{"type":"string","description":"类型（2:职员 3：医生，4：顾问）"},"sex":{"type":"string","description":"性别（1男，2女）"},"status":{"type":"string","description":"帐号状态（1正常 0停用）"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"},"userId":{"type":"integer","description":"用户ID","format":"int64"},"userType":{"type":"string"},"username":{"type":"string","description":"帐号/手机号"}}},"TempTokenVO":{"title":"TempTokenVO","type":"object","properties":{"expireSeconds":{"type":"integer","description":"过期时间(秒)","format":"int32"},"tempToken":{"type":"string","description":"token"}}},"TokenVO":{"title":"TokenVO","type":"object","properties":{"expireSeconds":{"type":"integer","description":"过期时间(秒)","format":"int32"},"hxPassword":{"type":"string","description":"环信密码"},"hxUserName":{"type":"string","description":"环信用户名"},"hxUuid":{"type":"string","description":"环信帐户UUID"},"qtnStatus":{"type":"integer","description":"问卷状态 0未完成 1已完成","format":"int32"},"token":{"type":"string","description":"token"}}},"UserAnswerMainDTO":{"title":"UserAnswerMainDTO","type":"object","properties":{"answers":{"type":"array","description":"问卷每步回答详情列表","items":{"$ref":"#/components/schemas/QtnAnswerVO"}},"bg":{"type":"string","description":"背景"},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"integer","format":"int32"},"demo":{"type":"string","description":"示例"},"jsonConfig":{"type":"object","additionalProperties":{"type":"object"},"description":"json格式配置项"},"mainId":{"type":"integer","format":"int64"},"profileField":{"type":"string","description":"基本信息字段"},"questionId":{"type":"integer","format":"int64"},"required":{"type":"integer","description":"是否必填(1必填，0非必填)","format":"int32"},"sort":{"type":"integer","description":"排序","format":"int32"},"status":{"type":"integer","description":"状态（1正常 0停用）","format":"int32"},"step":{"type":"integer","description":"步骤号","format":"int32"},"tips1":{"type":"string","description":"提示语1"},"tips2":{"type":"string","description":"提示语2"},"title":{"type":"string","description":"标题"},"type":{"type":"integer","description":"类型：1是否  2文本 3范围 4单选 5多选 6多选+程度 7病症(一组文本域+图片) 8图片","format":"int32"},"unit":{"type":"string","description":"单位"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"}},"description":"问卷整体回答详情"},"UserProfile":{"title":"UserProfile","type":"object","properties":{"address":{"type":"string","description":"用户地址"},"addressId":{"type":"integer","description":"用户地址ID","format":"int64"},"age":{"type":"integer","description":"年龄","format":"int32"},"bg":{"type":"string","description":"血糖，单位：mmol/L"},"createTime":{"type":"string","format":"date-time"},"dia":{"type":"string","description":"血压低压（舒张压，单位：mmHg）"},"height":{"type":"string","description":"身高"},"hr":{"type":"string","description":"心率，单位：次/分钟（bpm）"},"id":{"type":"integer","description":"id","format":"int64"},"name":{"type":"string","description":"姓名"},"sex":{"type":"string","description":"1男 2女 0未知"},"sys":{"type":"string","description":"血压高压（收缩压，单位：mmHg）"},"updateTime":{"type":"string","format":"date-time"},"userId":{"type":"integer","description":"用户id","format":"int64"},"weight":{"type":"string","description":"体重"}}},"UserVO":{"title":"UserVO","required":["areaCode","username"],"type":"object","properties":{"address":{"type":"string","description":"用户地址"},"addressId":{"type":"integer","description":"用户地址ID","format":"int64"},"age":{"type":"integer","description":"年龄","format":"int32"},"areaCode":{"type":"string","description":"区域代码(86大陆 852香港)"},"avatar":{"type":"string"},"createBy":{"type":"string"},"createTime":{"type":"string","format":"date-time"},"delFlag":{"type":"string"},"deptId":{"type":"integer","format":"int64"},"email":{"type":"string"},"height":{"type":"string","description":"身高"},"hxGroupId":{"type":"string"},"hxGroupName":{"type":"string"},"hxUuid":{"type":"string"},"loginDate":{"type":"string","format":"date-time"},"loginIp":{"type":"string"},"nickName":{"type":"string","description":"姓名"},"phonenumber":{"type":"string"},"pwdUpdateDate":{"type":"string","format":"date-time"},"qtnStatus":{"type":"integer","format":"int32"},"remark":{"type":"string"},"role":{"type":"string","description":"类型（5:用户）"},"sex":{"type":"string","description":"性别（1男，2女）"},"state":{"type":"integer","description":"活跃状态 1:活跃 0:禁用 2:90天未登陆","format":"int32"},"status":{"type":"string","description":"帐号状态（1正常 0停用）"},"updateBy":{"type":"string"},"updateTime":{"type":"string","format":"date-time"},"userId":{"type":"integer","description":"用户ID","format":"int64"},"userType":{"type":"string"},"username":{"type":"string","description":"帐号/手机号"},"weight":{"type":"string","description":"体重"}},"description":"用户详情"}},"securitySchemes":{"Authorization":{"type":"apiKey","name":"Authorization","in":"header"}}}}